.filter {
    animation: slide 3s ease-in-out;
    background-image: linear-gradient(-80deg, rgba(255,255,255,0) 0% 47%, rgba(255,255,255,0.8) 47% 100%);
    bottom: 0;
    left: -50%;
    opacity: 1;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
    overflow: hidden;
}

.filter2 {
    animation-duration: 2.4s;
}

@keyframes slide {
    0% {
        transform: translateX(25%);
    }

    100% {
        transform: translateX(0%);
    }
}

.video {
    width: 100%;
    max-width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.video video{
    width: 100%;
}

#top .hero img {
    /*margin-top: 120px;*/
}

#top .hero h1 {
    font-size: 22px;
    font-weight: 700;
    margin: 1em 0 2em 0;
}

#top .hero h1 b {
    color: #538eb4;
    margin: 0 8px;
}

#top .hero a.btn_black_left {
    width: 380px;
    background: #000;
    color: #FFF;
    font-size: 22px;
    font-weight: 700;
    border: 3px solid #000;
    margin: 0 0 120px 0;
    display: block;
}

#top section {
}

#top section:nth-child(n+3):nth-child(odd) {
    background: #F4F4F4;
    padding: 10px 0 10px 0;
}

#top .ttl2 span {
    font-size: 60px;
    font-weight: 700;
    background-image: url(../img/bg_title_line.svg);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding-left: 100px;
    margin: 60px 0;
}

#top .ttl2 h2 {
    font-size: 22px;
    margin-left: 30px;
    vertical-align: 40%;
    display: inline-block;
    font-weight: bold;
}

#top .service {
    background: #F4F4F4;
    min-height: 680px;
}

#top .service:last-child {
    min-height: 640px;
}

#top .service_hr_bg {
    background-image: url(../img/top_bg_hr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 480px;
}

#top .service_out_bg {
    background-image: url(../img/top_bg_out.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 480px;
}

#top .service_global_bg {
    background-image: url(../img/top_bg_global.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 480px;
}

.ttl2 {
    margin: 3% 0;
}

#top .service_training_bg {
    background-image: url(../img/top_bg_training.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 480px;
}

#top .service_bg {
    width: 100%;
    background: #FFF;
    top: 240px;
    right: 100px;
    position: relative;
}

#top .service_contents {
    width: 1200px;
    height: 338px;
    background: #FFF;
    left: 100px;
    position: relative;
    margin: 0 auto;
    padding: 60px 60px 0 0;
}

#top .service_contents_right {
    float: right;
}

#top .service_contents a.btn_black_left {
    width: 500px;
    height: 90px;
    display: block;
    background: #000;
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    padding: 0 1em;
    margin: 18px 0;
    line-height: 84px;
    border: 3px solid #000;
}

#top .service_contents .txt_area {
    width: 550px;
    line-height: 2;
}

#top ul.case li {
    margin-bottom: 0;
}

#top section a.btn_white_left {
    width: 280px;
    height: 57px;
    display: block;
    background: #FFF;
    color: #000;
    border: 2px solid #000;
    font-size: 16px;
    font-weight: 700;
    padding: 0 1em;
    line-height: 52px;
    margin: 30px 0 60px auto;
}

#top ul.column li {
    margin-bottom: 30px;
}

#top ul.column li .thumbnail {
    border: 1px solid #D0D0D0;
    width: 280px;
    height: 160px;
    margin: 0 30px 0 0;
    float: left;
    overflow: hidden;
}

#top ul.column p.column_name {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #538EB4;
    margin-bottom: 0.5em;
}

#top ul.column h3.column_title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

#top ul.column ul.column_tag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5em;
}

#top ul.column ul.column_tag li {
    margin-right: 0.5em
}

#top ul.column ul.column_tag li a {
    font-size: 12px;
    color: #538EB4;
    border: 1px solid #538EB4;
    padding: 2px 1em;
    display: inline-block;
    background: none;
}

#top ul.column ul.column_tag li a:hover {
    background-color: #538EB4;
    border-color: #538EB4;
    color: #FFF;
}

#top ul.news {
    margin: -20px 0 0 0;
}

#top ul.news li {
    border-bottom: 1px solid #D0D0D0;
    padding: 2em 0;
    display: flex;
}

#top ul.news p.news_date {
    margin-right: 30px;
}

#top ul.news p.news_category {
    width: 85px;
    text-align: center;
    font-size: 12px;
    padding: 2px 1em;
    display: inline-block;
    margin-right: 30px;
    height: 25px;
}

#top ul.news p.black {
    color: #FFF;
    background: #000;
    border: 1px solid #000;
}

#top ul.news p.blue {
    color: #FFF;
    background: #538EB4;
    border: 1px solid #538EB4;
}

@media screen and (max-width: 768px) {
    .filter {
        animation:slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-80deg, rgba(255,255,255,0) 0% 50%, rgba(255,255,255,0.8) 50% 100%);
    }

    .filter2 {
        animation-duration: 2.4s;
    }

    .video {
        height: 600px;
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: -100;
    }

    #top .hero {
        height: 600px;
    }

    #top .hero img {
        width: 100%;
    }

    #top .hero h1 {
        text-align: center;
        font-size: 18px;
        line-height: 1.4;
    }

    #top .hero a.btn_black_left {
        width: 100%;
        font-size: 20px;
        margin: 0;
        height: 64px;
        line-height: 58px;
    }

    #top section:first-of-type {
        margin-top: -70px;
    }

    #top section:nth-child(n+3):nth-child(even) {
        padding: 10px 0 10px 0;
    }

    #top .ttl2 span {
        font-size: 42px;
        background-image: none;
        padding-left: 0;
        margin: 40px 0 30px 0;
        text-align: center;
    }

    #top .ttl2 h2 {
        display: block;
        font-size: 16px;
        margin: -8px auto 0 auto;
        vertical-align: 0;
    }

    #top .service {
        min-height: auto;
        text-align: center;
    }

    #top .service:last-child {
        min-height: auto;
        padding: 0;
    }

    #top .service_hr_bg {
        background-size: contain;
        background-repeat: no-repeat;
        min-height: auto;
    }

    #top .service_out_bg {
        background-size: contain;
        background-repeat: no-repeat;
        min-height: auto;
    }

    #top .service_global_bg {
        background-size: contain;
        background-repeat: no-repeat;
        min-height: auto;
    }

    #top .service_training_bg {
        background-size: contain;
        background-repeat: no-repeat;
        min-height: auto;
    }

    #top .service_bg {
        width: 90%;
        top: 70px;
        right: 0;
        display: inline-block;
        margin: 70px auto 0 auto;
        position: static;
    }

    #top .service_contents {
        width: 90%;
        height: auto;
        left: 0;
        padding: 18px 0 30px 0;
        position: static;
        text-align: left;
    }

    #top .service_contents_right {
        float: none;
    }

    #top .service_contents_right img {
        width: 100%;
        margin: 0 0 15px 0;
        object-fit: contain;
    }

    #top .service_contents a.btn_black_left {
        width: 100%;
        height: 64px;
        font-size: 20px;
        margin: 0 0 18px 0;
        line-height: 58px;
    }

    #top .service_contents .txt_area {
        width: 100%;
    }

    #top ul.case li {
        margin-bottom: 25px;
    }

    #top section a.btn_white_left {
        display: block;
        margin: 40px auto 60px auto;
    }

    .container_column {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
    }

    #top ul.column {
        width: 960px;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
    }

    #top ul.column > li {
        width: 280px;
        margin: 0 30px;
    }

    #top ul.column li.current {
        margin: 0 ;
    }

    #top ul.column li .thumbnail {
        margin: 0 0 1em 0;
        float: none;
    }

    #top ul.column ul.column_tag li {
        margin-bottom: 0.5em;
    }

    #top ul.news {
        margin: -1em 0 0 0;
    }

    #top ul.news li {
        padding: 1em 0;
        display: inline-block;
    }

    #top ul.news p.news_date {
        margin-right: 1em;
        float: left;
    }

    #top ul.news p.news_category {
        margin-right: 0px;
    }

    #top ul.news p.news_title {
        display: block;
        margin-top: 1em;
    }

    .sp_br {
        display: inline-block;
    }

    .ttl2 {
        margin: 5%;
    }

    .sp_br_b {
        display: block;
    }
}



.sp-br{
    display: none;
}
#top .hero .textHello{
    padding-left: 4px;
    padding-top: 45px;
    margin-bottom: 33px;
}
#top .hero figure.headingSvg-main{
    display: inline-block;
    padding-right: 61px;
    border-bottom: 5px solid #000000;
    padding-bottom: 33px;
}

#top .hero figure.headingSvg-main img{
    max-width: 100%;
}
#top .hero h1 b:first-child{
    margin-left: 0;
}

#top .serviceList-content img{
    max-width: 100%;
}
#top .service-business .business-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 96px;
}
#top .service-business .businessDescription{
    width: 50%;
    padding-right: 20px;
}
#top .service-business .businessImage{
    width: 50%;
    text-align: center;
}
#top .service-business .businessImage img{
    max-width: 100%;
}
#topService .ttl2{
    margin-bottom: 15px;
}
#top .service-business .businessDescription .heading-block{
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 35px;
}
#top .service-business .businessDescription .title{
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}
#top .service-business .businessDescription .title svg{
    margin: 0 15px;
}
#top .service-business .businessDescription .ttl {
    display: flex;
    align-items: center;
    font-size: 28px;
    line-height: 38px;
}
#top .service-business .businessDescription .ttl span{
    font-size: 14px;
}
#top .service-business .businessDescription .text{
    font-size: 16px;
    line-height: 28px;
}
#top .serviceBlock-content{
    background: #fff;
    display: none;
    padding-bottom: 115px;
}
#top .serviceBlock-content.active{
    display: block;
}
#top .serviceList-content .serviceList{
    max-width: 1240px;
    padding: 0 20px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#top .serviceList-content .serviceList .serviceItem{
    position: relative;
    padding-bottom: 100%;
}
#top .serviceList-content .serviceList .serviceItem a{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    color: #fff;
    z-index: 2;
    padding: 40px 25px 40px 32px;
    transition: .3s;
}
#top .serviceList-content .serviceList .serviceItem:nth-child(1) a:not(.active):hover{
    background-image: url("/wp-content/uploads/2023/09/service_tab_img01_pc.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#top .serviceList-content .serviceList .serviceItem:nth-child(2) a:not(.active):hover{
    background-image: url("/wp-content/uploads/2023/09/service_tab_img02_pc.png");
    background-size: cover;
    background-repeat: no-repeat
}
#top .serviceList-content .serviceList .serviceItem:nth-child(3) a:not(.active):hover{
    background-image: url("/wp-content/uploads/2023/09/service_tab_img03_pc.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#top .serviceList-content .serviceList .serviceItem:nth-child(4) a:not(.active):hover{
    background-image: url("/wp-content/uploads/2023/09/service_tab_img04_pc.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#top .serviceList-content .serviceList .serviceItem a.active{
    background: #fff;
    color: #000;
}
#top .serviceList-content .serviceList .serviceItem a:after{
    content: "";
    position: absolute;
    height: calc(100% - 64px);
    border-left: 1px solid #9B9B9B;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#top .serviceList-content .serviceList .serviceItem a.active:after{
    display: none;
}
#top .serviceList-content .serviceList .serviceItem:last-child a:after{
    display: none;
}
#top .serviceList-content .serviceList .serviceItem .ttl{
    font-size: 22px;
    line-height: 30px;
    min-height: 60px;
    font-weight: bold;
    margin-bottom: 32px;
}
#top .serviceList-content .serviceList .serviceItem .text{
    font-size: 14px;
    line-height: 25px;
}
#top .serviceList-content .serviceList .serviceItem svg{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
#top .serviceList-content .serviceList .serviceItem a.active svg path{
    fill: #000;
}
#top .serviceList-content .serviceList-tabs{
    position: relative;
    margin-bottom: -82px;
    z-index: 5;
}
#top .serviceBlock-content .serviceBanner img{
    width: 100%;
    min-height: 380px;
    object-fit: cover;
    object-position: center;
}
#top .serviceBlock-content .serviceBlock-List{
    max-width: 1240px;
    padding: 0 20px;
    margin: -246px auto 0;
    position: relative;
    z-index: 5;
}
#top .serviceBlock-content .header-entry{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
}
#top .serviceBlock-content .header-entry .heading-block{
    font-size: 40px;
    line-height: 53px;
    color: #fff;
    font-weight: bold;
}
#top .serviceBlock-content .header-entry .service-more a{
    display: flex;
    width: 240px;
    background: #fff;
    height: 56px;
    align-items: center;
    padding-left: 24px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    position: relative;
    border: 2px solid #000000;
    transition: .3s;
    z-index: 5;
}
#top .serviceBlock-content .header-entry .service-more a:before{
    content: "";
    position: absolute;
    background: #000;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    transition: .3s;
    z-index: -1;
}
#top .serviceBlock-content .header-entry .service-more a:hover{
    color: #fff;
}
#top .serviceBlock-content .header-entry .service-more a:hover:before{
    width: 100%;
}
#top .serviceBlock-content .header-entry .service-more a:after{
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    top: 50%;
    right: 24px;
    opacity: 1;
    transition: .3s;
}
#top .serviceBlock-content .header-entry .service-more a:hover:after{
    background: #fff;
}
#top .serviceBlock-content .servicePost-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    row-gap: 80px;
}
#top .serviceBlock-content .servicePost-list .servicePost-item a{
    display: block;
    position: relative;
    margin-bottom: 28px;
}
#top .serviceBlock-content .servicePost-list .servicePost-item a:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.25);
    opacity: 0;
    transition: .3s;
    visibility: hidden;
    pointer-events: none;
}
#top .serviceBlock-content .servicePost-list .servicePost-item a:hover:after{
    opacity: 1;
    visibility: visible;
}
#top .serviceBlock-content .servicePost-list .servicePost-item .ttl{
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    min-height: 48px;
    margin-bottom: 10px;
}
#top .serviceBlock-content .servicePost-list .servicePost-item .text{
    font-size: 16px;
    line-height: 21px;
}


@media (max-width: 1200px) {

    #top .service-business .businessImage{
        padding-left: 40px;
    }
    #top .service-business .businessDescription .heading-block{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    #top .service-business .businessDescription .ttl {
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 30px;
    }
    #top .service-business .businessDescription .ttl span {
        font-size: 12px;
    }
    #top .service-business .businessDescription .title svg {
        margin: 0 12px;
        width: 15px;
    }
    #top .service-business .businessDescription .text {
        font-size: 14px;
        line-height: 26px;
    }
    #top .serviceList-content .serviceList .serviceItem .ttl{
        font-size: 16px;
        line-height: 26px;
        min-height: 52px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    #top .serviceList-content .serviceList .serviceItem a{
        padding: 30px 20px 40px 25px;
    }
    #top .serviceList-content .serviceList .serviceItem svg{
        bottom: 30px;
    }
    #top .serviceList-content .serviceList .serviceItem .text {
        font-size: 13px;
        line-height: 21px;
    }
    #top .serviceBlock-content .header-entry .heading-block {
        font-size: 30px;
        line-height: 40px;
    }
    #top .serviceBlock-content .servicePost-list{
        column-gap: 30px;
    }
    #top .serviceBlock-content .servicePost-list .servicePost-item .ttl{
        font-size: 16px;
    }
    #top .serviceBlock-content .servicePost-list .servicePost-item .text{
        font-size: 14px;
    }
    #top .serviceBlock-content .header-entry{
        margin-bottom: 65px;
    }
    #top .serviceBlock-content .serviceBlock-List{
        margin-top: -200px;
    }




}



@media (max-width: 980px) {

    #top .serviceList-content .serviceList .serviceItem a{
        padding: 20px 15px 20px;
    }
    #top .serviceList-content .serviceList .serviceItem .ttl {
        font-size: 13px;
        line-height: 21px;
        min-height: auto;
        margin-bottom: 12px;
    }
    #top .serviceList-content .serviceList .serviceItem svg {
        bottom: 15px;
        width: 16px;
    }
    #top .serviceList-content .serviceList .serviceItem .text {
        font-size: 12px;
        line-height: 20px;
    }
    #top .serviceBlock-content .servicePost-list {
        column-gap: 20px;
        row-gap: 60px;
    }
    #top .service-business .businessDescription{
        padding-right: 0;
    }
    #top .service-business .businessDescription .title svg {
        margin: 0 10px 0 6px;
        width: 12px;
    }
    #top .service-business .businessDescription .ttl {
        font-size: 18px;
    }
    #top .service-business .businessDescription .ttl span {
        font-size: 10px;
    }



}






@media (max-width: 768px) {

    .sp-br{
        display: block;
    }

    #top .serviceBlock-content .serviceBanner{
        display: none;
    }
    .video video{
        width: auto;
    }
    #top .hero figure.headingSvg-main {
        display: inline-block;
        padding-right: 0;
        border-bottom: 4px solid #000000;
        padding-bottom: 30px;
        text-align: center;
    }
    #top .hero .textHello {
        padding-left: 0;
        padding-top: 45px;
        margin-bottom: 22px;
        text-align: center;
    }
    #top .hero .textHello svg{
        height: 15px;
        width: auto;
    }
    #top .hero figure.headingSvg-main img {
        max-width: 380px;
    }
    #top .hero{
        text-align: center;
    }
    #top .hero h1{
        max-width: 360px;
        margin: 28px auto 40px;
    }
    #top .service-business .businessDescription {
        padding-right: 0;
        width: 100%;
        margin-bottom: 70px;
    }
    #top .service-business .businessImage {
        padding-left: 0;
        width: 100%;
    }
    #top .service-business .businessDescription .title svg {
        margin: 0;
        width: 20px;
    }
    #top .service-business .businessDescription .ttl {
        font-size: 22px;
        width: calc(50% - 10px);
        flex-wrap: wrap;
        justify-content: center;
        white-space: nowrap;
    }
    #top .service-business .businessDescription .ttl span {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }
    #top .service-business .businessDescription .ttl.t1{
        padding-right: 30px;
    }
    #top .service-business .businessDescription .ttl.t2{
        padding-left: 30px;
    }
    #top .service-business .businessDescription .heading-block {
        font-size: 32px;
        line-height: 43px;
        margin-bottom: 45px;
        text-align: center;
    }
    #topService .ttl2 {
        margin-bottom: 60px;
    }
    #top .service-business .businessDescription .text {
        font-size: 16px;
        line-height: 28px;
    }
    #top .service-business .business-content{
        margin-bottom: 80px;
    }

    #top .serviceList-content .serviceList .serviceItem .text{
        display: none;
    }
    #top .serviceList-content .serviceList-tabs {
        margin-bottom: 0;
        width: 100%;
        max-width: 424px;
        overflow-y: scroll;
    }
    #top .serviceBlock-content .header-entry .heading-block {
        font-size: 28px;
        line-height: 37px;
        width: 100%;
        color: #000;
        margin-bottom: 25px;
    }
    #top .serviceBlock-content .header-entry .subTtl{
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 30px;
    }
    #top .serviceList-content .serviceList{
        padding: 0;
        width: 424px;
    }
    #top .serviceBlock-content{
        padding-top: 55px;
        padding-bottom: 70px;
    }
    #top .serviceBlock-content .header-entry .service-more{
        width: 100%;
    }
    #top .serviceBlock-content .header-entry .service-more a{
        margin: auto;
        width: 258px;
        height: 60px;
    }
    #top .serviceList-content .serviceList .serviceItem{
        padding-bottom: 152px;
    }

    #top .serviceList-content .serviceList-tabs{
        padding-bottom: 15px;
        overflow-y: hidden;
    }
    #top .serviceList-content{
        background: #fff;
    }
    #top .serviceList-content .serviceList-tabs::-webkit-scrollbar{
        height: 15px;
    }
    #top .serviceList-content .serviceList-tabs::-webkit-scrollbar-track{
        background: #ccc;
    }
    #top .serviceList-content .serviceList-tabs::-webkit-scrollbar-thumb{
        background: #777777;
        border-radius: 10px;
        border: 3px solid transparent;
        background-clip: content-box;
        cursor: pointer;
    }
    #top .serviceList-content .serviceList-tabs::-webkit-scrollbar-thumb:hover{
        background: #a4a4a4;
        border: 2px solid transparent;
        background-clip: content-box;
    }
    #top .serviceList-content .serviceList .serviceItem .ttl {
        font-size: 14px;
        line-height: 19px;
        min-height: auto;
        margin-bottom: 0;
    }
    #top .serviceList-content .serviceList .serviceItem a {
        padding: 32px 10px;
        border-right: 1px solid #707070;
    }
    #top .serviceList-content .serviceList .serviceItem a:hover,
    #top .serviceList-content .serviceList .serviceItem a.active:hover,
    #top .serviceList-content .serviceList .serviceItem:last-child a.active:hover{
        border-right: 0;
    }
    #top .serviceList-content .serviceList .serviceItem a:after{
        display: none;
    }
    #top .serviceList-content .serviceList .serviceItem svg {
        bottom: 32px;
        width: 19px;
    }
    #top .serviceBlock-content .header-entry {
        margin-bottom: 55px;
    }

    #top .serviceBlock-content .serviceBlock-List {
        margin-top: 0;
    }
    #top .serviceBlock-content .servicePost-list {
        column-gap: 0;
        row-gap: 80px;
        grid-template-columns: repeat(1, 1fr);
    }
    #top .serviceBlock-content .servicePost-list .servicePost-item .ttl {
        font-size: 18px;
        line-height: 24px;
        min-height: auto;
        margin-bottom: 25px;
    }
    #top .serviceBlock-content .servicePost-list .servicePost-item .text {
        font-size: 16px;
        line-height: 24px;
    }











}


@media (min-width: 425px) and (max-width: 768px) {

    #top .serviceList-content .serviceList-tabs{
        max-width: 100%;
    }
    #top .serviceList-content .serviceList{
        width: 100%;
    }
    #top .serviceList-content .serviceList .serviceItem .ttl{
        text-align: center;
    }


}







